@inject Microsoft.AspNetCore.Identity.SignInManager<CinemaBooking.Models.ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-page="/Main">
                    <img src="~/imgs/logo.png" width="40%" />
                </a>

                <ul class="list-social" style="margin-bottom:0;font-size:30px;">
                    <li><a href="#" class="social"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="social"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="social"><i class="fa fa-phone"><span style="font-size:16px;font-family: 'Quicksand', sans-serif;"> 19002099</span></i></a></li>

                </ul>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse ">
                    <ul class="navbar-nav flex-grow-1">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color: #EA3B92;font-size:20px;" asp-action="ManageFilm" asp-controller="Home">Manage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color: #EA3B92;font-size:20px;" asp-action="Logout" asp-controller="Account">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" style="font-family: 'Quicksand', sans-serif;">
                                <a class="nav-link text-center register" style="font-size:16px;color: #EA3B92;" asp-action="Register" asp-controller="Account">
                                    <img src="~/imgs/bong-ngo.png" />
                                    REGISTER
                                </a>
                            </li>
                            <li class="nav-item" style="font-family: 'Quicksand', sans-serif;">
                                <a class="nav-link text-center login" style="color: white;font-size:16px;" asp-action="Login" asp-controller="Account">
                                    <img src="~/imgs/so-da.png" />
                                    LOGIN
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
