
@{
    ViewData["Title"] = "DeleteFilm";
    Layout = "~/Pages/Shared/_MyLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers


<h1>Bạn có chắc chắn muốn xóa phim "@ViewBag.Name" ?</h1>
<form method="post" asp-action="DeleteFilm" asp-controller="Film" asp-route-FilmId ="@ViewBag.ID">
    <button type="submit" class="btn btn-success">Có</button>
    <a class="btn btn-danger" asp-action="ListFilm" asp-controller="Film">Không, quay lại danh sách phim</a>
</form>

