
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Pages/Shared/_MyLayout.cshtml";
}

@section Styles {
    <link href="~/css/resetpw.css" rel="stylesheet" />
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model CinemaBooking.ViewModels.Account.ResetPasswordViewModel;

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="display: block; margin-left: auto; margin-right: auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="~/imgs/lock.gif"
                             style="width:50%"/>
                        <h2 class="text-center">Quên mật khẩu?</h2>
                        <p>Nhập email để lấy lại mật khẩu.</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="post"
                                  asp-action="ResetPassword" asp-controller="ConfirmInfo">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input placeholder="email address" class="form-control" type="email"
                                               asp-for="@Model.Email">
                                    </div>
                                </div>
                                <div asp-validation-summary="All" style="list-style-type:none"></div>
                                <div class="form-group">
                                    <input name="recover-submit"
                                           class="btn btn-lg btn-block"
                                           style="background-color:#A12914;color:white"
                                           value="Đặt lại mật khẩu"
                                           type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
