
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Pages/Shared/_MyLayout.cshtml";
}

@section Styles {
    <link href="~/css/resetpw.css" rel="stylesheet" />
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model CinemaBooking.ViewModels.Account.ResetPasswordConfirmationViewModel;
@{ 
    var token = ViewBag.token;
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="display: block; margin-left: auto; margin-right: auto;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="~/imgs/lock.gif"
                             style="width:50%" />
                        <h2 class="text-center">Nhập mật khẩu mới</h2>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="post"
                                  asp-action="ResetPasswordConfirmation" , asp-controller="ConfirmInfo" asp-route-token="@token">

                                <input type="hidden" asp-for="@Model.Email" />
                                <div class="form-group">
                                    <div class="input-group">
                                        <input placeholder="new password" class="form-control" asp-for="@Model.Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input placeholder="confirm new password" class="form-control" asp-for="@Model.ConfirmPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit"
                                           class="btn btn-lg btn-block"
                                           style="background-color:#A12914;color:white"
                                           value="Xác nhận"
                                           type="submit">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

